name: Go CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Install necessary build tools
      run: sudo apt update && sudo apt install build-essential ninja-build -y

    - name: Setup environment
      run: sudo apt install libvips libpoppler-glib-dev pkg-config -y

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

  docker:
    name: Docker Build and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t quirm-app .

    - name: Run Container
      run: |
        docker run -d \
          --name quirm_test \
          -p 8080:8080 \
          -e S3_ENDPOINT="http://localhost:9000" \
          -e S3_BUCKET="test-bucket" \
          -e S3_ACCESS_KEY="dummy-access" \
          -e S3_SECRET_KEY="dummy-secret" \
          -e S3_REGION="auto" \
          quirm-app

    - name: Test Application
      run: |
        sleep 5
        HTTP_CODE=$(curl -o /dev/null -s -w "%{http_code}" http://localhost:8080/)
        if [ "$HTTP_CODE" -eq 400 ]; then
          exit 0
        else
          docker logs quirm_test
          exit 1
        fi

    - name: Stop Container
      if: always()
      run: docker stop quirm_test && docker rm quirm_test